button.actualiser {
    float: right;
    margin-top: 8px;
    margin-left: 17px;
}

#items {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

#items > article {
    padding: 5px;
}

article.complete .bar {
    background-color: #5cb85c;
}

article.error .bar {
    background-color: #d9534f;
}

article .bar {
    width: 100%;
    height: 20px;
    border: 1px solid #e3e0e0;
    border-radius: 3px;
}

article h3 {
    margin-left: 10px;
    display: inline-block;
    padding: 3px;
}

article {
    cursor: pointer;
}

article img {
    width: 35px;
    float: left;
    margin: 6px;
    margin-top: 0px;
}

#items .empty {
    color: #b6b6b6;
    text-align: center;
    font-size: 200%;
}

h1 > a.label {
    font-size: 39%;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.5;
    z-index: 99999;
}

#login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.third {
    margin: auto;
}

.cssload-container,
#login form {
    z-index: 999999;
    margin-top: 10%;
    left: 0;
    right: 0;
    position: fixed !important;
}

.hide {
    display: none;
}

.shyButton {
    font-size: .75em;
}

nav .brand {
    width: 200px;
}

nav .brand,
nav .menu,
nav .burger {
    width: 300px;
}

.size {
    font-size: 60%;
    position: relative;
    bottom: 1px;
    line-height: .8em;
    vertical-align: super;
    text-decoration: none;
}

.cssload-container {
    position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204, 204, 204);
    border-left-color: rgb(0, 0, 0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}


/**
responsive
*/

@media screen and (max-width: 320px) {}