<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="com.github.ffremont.simfiles" level="INFO"/>

  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>